@model FileModel

<table class="table">
    <thead>
        <tr>
            <th>File ID</th>
             <th>File Name</th>
            <th>FIle Author</th>
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.FileID</td>
            <td>@Model.FileName</td>
             <td>@Model.Author</td>
            <!-- Display more columns based on the content -->
        </tr>
    </tbody>
</table>